{% if page.options contains 'mermaid' %}
<script>
  var config = {
      startOnLoad:true,
      theme: 'forest',
      flowchart:{ useMaxWidth:false, htmlLabels:true }
  };
  mermaid.initialize(config);
  window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
</script>
{% else %}
<!-- No mermaid -->
{% endif %}

{% if page.options contains 'notrack' %}
<!-- No Analytics -->
{% else %}
<script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '6235d430ac960b370ef519fa');
      t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
      t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
{% endif %}