<span class="socialicons">
{% if page.lang=="de" %}
  <a href="https://twitter.com/intent/tweet?text={{ page.socialshare | default: site.socialshare.de | url_encode }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a> | 
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url | url_encode }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
{% elsif page.lang=="uk" %}
  <a href="https://twitter.com/intent/tweet?text={{ page.socialshare | default: site.socialshare.uk | url_encode }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a> | 
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url | url_encode }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
{% elsif page.lang=="ru" %}
  <a href="https://twitter.com/intent/tweet?text={{ page.socialshare | default: site.socialshare.ru | url_encode }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a> | 
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url | url_encode }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
{% else %}
  <a href="https://twitter.com/intent/tweet?text={{ page.socialshare | default: site.socialshare.en | url_encode }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a> | 
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url | url_encode }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
{% endif %}
</span>

