<!DOCTYPE html>
<html lang="{{ page.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>
    <footer class="site-footer">
        <p><a href="{{ site.baseurl }}">HOME</a> | Bravo | Charlie</p>
    </footer>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title }}</h1>
      <h2 class="project-tagline">{{ page.tagline | default: site.tagline }}</h2>

      <a href="{{ site.baseurl }}{{ page.pageid }}-uk.html" class="btn">українська</a>
      <a href="{{ site.baseurl }}{{ page.pageid }}-en.html" class="btn">English</a>
      <a href="{{ site.baseurl }}{{ page.pageid }}-de.html" class="btn">Deutsch</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">provided by volunteers</a></span>
      </footer>
    </main>
  </body>
</html>